.HTMLCode {
  resize: none;
  width: 100%;
  height: 100%;
  background-color: #373b44;
  color: #747b88;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  padding: 1rem;
}

.HTMLCode:active,
.HTMLCode:focus {
  border: none;
  outline: none;
}
