*, /*init added*/
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

#root {
  width: 1440px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.editorContainer {
  width: 100%;
  background-color: red;
  height: 100vh;
  display: flex;
}
